
**/.vim/.netrwhist
**/.vim/spell/*.spl*
**/.vim/undo
**/.vim/view
**/karabiner/automatic_backups/
**/karabiner/karabiner.json
**/qalculate/qalculate-qt.cfg
*.DS_Store
*.pyc
*.zwc
.antigenrc.zwc
.zshrc_local
/.envrc
dotfiles_private
is_dark_mode
package/
tags
home_folder/.zshrc.bak-*
