*.DS_Store
tags
.antigenrc.zwc
dotfiles_private
*.pyc
**/karabiner/automatic_backups/
**/karabiner/karabiner.json
**/qalculate/qalculate-qt.cfg
**/.vim/undo
**/.vim/view
**/.vim/spell/*.spl*
**/.vim/.netrwhist

.zshrc_local
is_dark_mode
*.zwc
