%Image::ExifTool::UserDefined = (
    'Image::ExifTool::XMP::Main' => {
        NikonVideo => {
            SubDirectory => {
                TagTable => 'Image::ExifTool::UserDefined::NikonVideo',
            },
        },
    },
);

%Image::ExifTool::UserDefined::NikonVideo = (
    GROUPS => { 0 => 'XMP', 1 => 'XMP-NikonVideo', 2 => 'Video' },
    NAMESPACE => { 'NikonVideo' => 'http://ns.nikon.com/video/1.0/' },
    WRITABLE => 'string',
    ShutterCount => { },
    WhiteBalance => { },
    VibrationReduction => { },
    VRMode => { },
    FocusMode => { },
    AFAreaMode => { },
    AFDetectionMethod => { },
    FlashMode => { },
    PictureControl => { },
    ActiveDLighting => { },
    HighISONR => { },
    ElectronicVR => { },
    CropHiSpeed => { },
);
