xset r rate 200 25
xinput set-prop "SYNA2393:00 06CB:7A13 Touchpad" "libinput Accel Speed" 0.35
xinput set-prop "SYNA2393:00 06CB:7A13 Touchpad" "libinput Natural Scrolling Enabled" 1
xmodmap ~/.xmodmap
xcape -e 'Control_L=Escape'

