zmodule utility

### COMPLETIONS
# Note: completion module MUST come AFTER all modules that add completion definitions
zmodule zsh-users/zsh-completions --fpath src
zmodule completion

### UTILITY
zmodule zshzoo/macos --if-ostype 'darwin*'
zmodule belak/zsh-utils --root utility
zmodule larkery/zsh-histdb
zmodule charlesnchr/ranger-autojump
zmodule aloxaf/fzf-tab
zmodule romkatv/zsh-bench --cmd 'path+=({})'
# zmodule ohmyzsh/ohmyzsh --root plugins/autojump # zoxide better
zmodule so-fancy/diff-so-fancy

# ALIASES
# (corresponding completions are generally built-in or in (see $FPATH):
#   ~/.zim/modules/zsh-completions
#  /opt/homebrew/Cellar/zsh/5.9/share/zsh/functions
# )
zmodule ohmyzsh/ohmyzsh --root plugins/common-aliases
zmodule ohmyzsh/ohmyzsh --root plugins/git
zmodule ohmyzsh/ohmyzsh --root plugins/pip
zmodule ohmyzsh/ohmyzsh --root plugins/uv

# TERMINAL
zmodule mroth/evalcache
zmodule romkatv/zsh-defer -d
zmodule romkatv/powerlevel10k --use degit


# ZSH PACKAGES
# should be sourced after completion
zmodule zsh-users/zsh-syntax-highlighting
# should be sourced after zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-history-substring-search
# Fish-like autosuggestions for Zsh.
zmodule zsh-users/zsh-autosuggestions


# PERSONAL

zmodule "$ZDOTDIR/.zfunctions" --source personal_aliases.zsh \
        --cmd '
          _zsrc={}/personal_aliases.zsh
          _zwc={}/personal_aliases.zsh.zwc
          [[ $_zwc -ot $_zsrc ]] && zcompile -U $_zwc $_zsrc
        '
zmodule "$ZDOTDIR/.zfunctions" --source personal_functions.zsh \
        --cmd '
          _zsrc={}/personal_functions.zsh
          _zwc={}/personal_functions.zsh.zwc
          [[ $_zwc -ot $_zsrc ]] && zcompile -U $_zwc $_zsrc
        '
